body{

}

.box{
  width: 500px;
  margin: 0 auto;
  border: 2px solid black;
  transform: rotateX(45deg);
  -webkit-transform: rotateX(40deg);
  perspective: 600px;
  perspective-origin: center top;

    animation-name: crawl;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;



}

h1 {
  color: yellow;
  font-size: 40px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;

}

h2 , h3{
  color: yellow;
  font-size: 35px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
}

p{
  color: yellow;
  text-align: center;
  font-size: 35px;
  font-family: helvetica;
  font-style: italic;



}

@keyframes crawl
{
  0%
  {
    transform: translateZ(1000px) rotateX(55deg);
  }
  100%
  {
    transform: translateZ(-2500px) rotateX(55deg);;
  }
