

.page{
width: 800px;
font-size: 15px;
font-family: Helvetica;
margin: auto;
}
.infophoto{

position:relative;
margin-top: 25px;
}

.info {
  position: absolute;
  left: 280px;
  top: 0;
  width: 325px;
  text-align: left;
  border: 1px solid black;
  padding-left: 35px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;

}
.bloc
{

}

.section{
    background-color: red;
    position: relative;



}
.sec-gauche{


}

.sec-droite {
 position: absolute;
 top: 1px;
 right: 20px;
  padding-bottom: 20px;
  margin: 0 auto;


}
