.page{
width: 800px;
font-size: 15px;
font-family: Helvetica;
margin: auto;




}
.infophoto{

position:relative;
margin-top: 25px;
}


.info {
  position: absolute;
  left: 280px;
  top: 0;
  width: 325px;
  text-align: left;
  border: 1px solid black;
  padding-left: 35px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;

}
.section1
{

}

.sec-gauche1 {
  display: inline-block;

  margin-right: 2px;


}
.sec-droite1{
  display: inline-block;
  background-color: orange;
  margin-left: 80px;
}

.section2{

}
.sec-gauche2{
float: left;
background-color: blue;
}
.sec-droite2{
float: right;
background-color: green;
height: 210px;
padding-top: 2px;
margin-right: 20px;
width: 595px;
}
.sec-droite2 .titre{
  font-size: 15px;


}
.titre{
  font-weight: bold;


}

.section {
  margin-top: 150px;

}

.sec-gauche {
  float: left;
}
.sec-droite {
  float: right;
}
